#########################################################################################
####### Tell us about yourself
comments = This is the DEFAULT analysis flag.
#########################################################################################
####### Time walk configuration. Expert users see README file on timewalk
T = 390
Tdiv = 200
TrefThr = 150
x0 = 149.8
n = 0.65
t0 = 0
#########################################################################################
####### Settings for the digital FE. Nominal values are: groupSize = 16, groupLeng = 5, parityLeng = 1, dColLeng = 8, wordSpacing = 1.6 ns
####### Very unfortunate here X and Y are reversed.
groupSize = 16
groupSizeX = 8
groupSizeY = 2
groupLeng = 5
parityLeng = 1
dColLeng = 8
wordSpacing = 1.6
#########################################################################################
####### Number of threads used in the simulation. This value might need to change if few events are simulated
numThreads = 6
#########################################################################################
####### Charge Loss coefficient that scales all energy loss. No in pixel granularity is yet implemented. 
####### Parameter of intere for radiation damage simulation
chLoss = 1
#########################################################################################
####### Threshold smearing settings
meanSmearing = 0.
colSmearing = 0.
#########################################################################################
####### Tracking and clustering parameters. distCut = 100 [nm], timeCut = 500 [ns] 
distCut = 100.
timeCut = 500
#########################################################################################
####### Tracking uncertainty considered / not. Bool
trkUnc = true
#########################################################################################
####### Verbose flags for different parts of the analysis
verboseDigital = false
verboseTracking = false
verboseClustering = false
verboseAnalysis = false
#########################################################################################
####### Introduce X or Y offset to match any data off-tracking. Relevant for data-sim, bin-wise comparisons. [mm]
trackOffsetX = 0.
trackOffsetY = 0.
#########################################################################################