#########################################################################################
####### Tell us about yourself
comments = This is the DEFAULT analysis flag.
#########################################################################################
####### Define input paths to reach Geant4 files
localPath = ./
inputPath = ./Results/local
fileName = output0
#########################################################################################
####### Time walk configuration. Expert users see README file on timewalk
###### 390;  200;  150;   149.8;  0.65;   0
##### 2152;  200;  200;   199.6;  0.85;   0
T = 390
Tdiv = 200
TrefThr = 150
x0 = 149.8
n = 0.65
t0 = 0
#########################################################################################
####### Settings for the digital FE. Nominal values are: groupSize = 16, groupLeng = 5, parityLeng = 1, dColLeng = 8, wordSpacing = 1.6 ns
####### Very unfortunate here X and Y are reversed.
groupSize = 64
groupSizeX = 8
groupSizeY = 8
groupLeng = 5
parityLeng = 1
dColLeng = 6
wordSpacing = 1.6
#########################################################################################
####### Number of threads used in the simulation. This value might need to change if few events are simulated
numThreads = 6
#########################################################################################
####### Charge Loss coefficient that scales all energy loss. No in pixel granularity is yet implemented. 
####### Parameter of intere for radiation damage simulation
chLoss = 1
#########################################################################################
####### Threshold smearing settings
meanSmearing = 0.
colSmearing = 0.
#########################################################################################
####### Tracking and clustering parameters. distCut = 100 [um], timeCut = 500 [ns] 
distCut = 100.
timeCut = 500
#########################################################################################
####### Tracking uncertainty considered / not. Bool
trkUnc = true
#########################################################################################
####### Verbose flags for different parts of the analysis
verboseDigital = false
verboseTracking = false
verboseClustering = false
verboseAnalysis = false
#########################################################################################
####### Introduce X or Y offset to match any data off-tracking. Relevant for data-sim, bin-wise comparisons. [mm]
#50 - 18.6368/2 = -40.6816 
trackOffsetX = -40.6816
trackOffsetY = -40.6816
#########################################################################################
####### Beam veto value in ns. Should match the config passed to simulation. (relevant for calorimetry only ATM)
veto = 1000
#########################################################################################
####### FIFO Config. fifoFrequency in ns and fifoSize in num of hits. 
####### WARNING! Implementation is unphysical. Works with script FIFOProcessing
fifoFrequency = 50
fifoSize = 100
fifoMultiplicity = 1
#########################################################################################
####### Realistic MALTA3 simulation. 
####### 0.5    0.105    1.5   4    6.25    128
slowcontrolDelay = 0.5
busMergingThreshold = 0.105
SRAMFrequency = 1.5
sramDepth = 4
FIFOFrequency = 3.125
FIFOSize = 128
#########################################################################################
####### nPlanes - number of planes in 3D coordinate system (total number is = nPlanes_100 * nPlanes_10 * nPlanes_1)
nPlanes_100 = 1
nPlanes_10 = 1
nPlanes_1 = 1
#########################################################################################