#########################################################################################
####### Tell us about yourself
comments = This is the DEFAULT simulation flag. Please customize as desired.
#########################################################################################
####### Available Geometry Presets: MALTA - MALTA sensor implementation, PCB - implementation of a single rotated PCB stack
preDefinedGeometryFlag = MALTA
#########################################################################################
####### Placement of the detector in the world volume. Values are in cm and are offsets from the golbal (0,0,0) point
detectorXOffset = 5.
detectorYOffset = 5.
detectorZOffset = 5.
#########################################################################################
####### Pixel Size [mm]
pixelSize = 0.0364
#########################################################################################
####### Sensitive are in X and Y [cm] and Z in [um]
detectorSizeX = 1.86368
detectorSizeY = 1.86368
detectorDepth = 29.1
#########################################################################################
####### Sigma of Error-functions of Analystical Charge collection model in X and Y [um]
CCModelSigmaX = 4.3
CCModelSigmaY = 4.3
#########################################################################################
####### Available world volume materials: G4_Galactic for vacuum; G4_Air for air
outsideMaterial = G4_Galactic
#########################################################################################
####### Particle source geometry. Available presets: pencil, circle, rectangle, granularBeam = 1 particle every 2 pixels in X (simulate out of group hits)
####### DColScanX/Y - scan a double collumn in X/Y
####### gaussian - gaussian distribution of the beam. It uses the extra flag: gausSmearing which is the sigma in cm.
beamGeometry = gaussian
gausSmearing = 0.01
#########################################################################################
#######Position of the pencil beam in cm as an off-set from the global (0,0,0) point.
####### A merge-less word pencil generation can be achieved for beamXOffset = 5.0055, beamYOffset = 5.0055
####### 5.6159  5.100964 rectangle
beamXOffset = 5.
beamYOffset = 5.
beamZOffset = - 100.
#########################################################################################
####### Configuration of spherical source if enabled. All values are in mm 18.6368
sourceRadius = 18.6368
#########################################################################################
####### Spill size. (# of particles per event)
particleCount = 1
#########################################################################################
####### Number of events to simulate. Value is used as part of the run macro
numEvents = 100000
#########################################################################################
####### Time offset of particles in the same spill. in ns
intraSpillOffset = 0
#########################################################################################
####### Veto of the telescope. The period of the particle gun. Values in ns
beamVeto = 1000
#########################################################################################
####### Primary particle type
particleType = proton
#########################################################################################
####### Primary particle energy in GeV if int or invokes an energy distribution if string.
particleEnergy = 120
#########################################################################################
####### Momemntum of the primary particle in the three axes.
particleMomentumX = 0.
particleMomentumY = 0.
particleMomentumZ = 1.
#########################################################################################
####### Enable/ disable EMPhysics. By default, EMPhysics_option4() physics preset list is used
EMPhysics = true
#########################################################################################
####### Enable/ disable decayPhysics. Should be enabled only when simmulating radioactive sources
hadronPhysics = true
#########################################################################################
####### Enable/ disable a Tungsten plate upstream and adjacent to the DUT. absorberThickiness in cm
dutTungstenAbsorberFlag = false
absorberThickness = 3.2
#########################################################################################
####### Enable/disable the use of the Geant4 cuts.
setGEANT4Cuts = true
#########################################################################################
####### Value of the GEANT4 cut in um. Implementation sets by default the value for gamma, e- and e+ particles.
GEANT4CutValue = 1
#########################################################################################
####### Simulation output path
outputPathLocal = Results
outputPathNAF = Results
#########################################################################################
####### GEANT4 macro file to run locally. TODO: Add naf paths too and make the flag pushable to git
macroFileLocal = run.mac
macroFileNAF = run.mac
#########################################################################################
####### Number of Threads. Should match the number of cores. Optimization between physical/ virtual cores
numThreadsLocal = 6
numThreadsNAF = 12
#########################################################################################
####### Verbose flags. Each flag controlls the print outs from a different class. The flag name should be self explanatory
verbosePL = false
verbosePG = false
verboseSD = false
verboseSA = false