#########################################################################################
####### Tell us about yourself
comments = This is the DEFAULT analysis flag.
#########################################################################################
####### Define input paths to reach Geant4 files
localPath = ./
inputPath = ./Results/local
fileName = output0
#########################################################################################
####### Time walk configuration. Expert users see README file on timewalk
###### 390;  200;  150;   149.8;  0.65;   0
##### 2152;  200;  200;   199.6;  0.85;   0
T = 390
Tdiv = 200
TrefThr = 150
x0 = 149.8
n = 0.65
t0 = 0
#########################################################################################
####### Off-chip Read-Out Jitter
scintillatorJitter = 0.5
samplingJitter = 0.9
#########################################################################################
####### Settings for the digital FE. Nominal values are: groupSize = 16, groupLeng = 5, parityLeng = 1, dColLeng = 8, wordSpacing = 1.6 ns
####### Very unfortunate here X and Y are reversed.
groupSize = 16
groupSizeX = 8
groupSizeY = 2
groupLeng = 5
parityLeng = 1
dColLeng = 8
wordSpacing = 1.6
#########################################################################################
####### Number of threads used in the simulation. This value might need to change if few events are simulated
numThreads = 6
#########################################################################################
####### Charge Loss coefficient that scales all energy loss. No in pixel granularity is yet implemented. 
####### Parameter of intere for radiation damage simulation
chLoss = 1
#########################################################################################
####### Number of Pixels in X and Y. Mirror repetition for the current mirrors (relevant in the threshold distribution)
xPix = 512
yPix = 512
mirrorRepetition = 32
#########################################################################################
####### Threshold smearing settings
meanSmearing = 0.
colSmearing = 0.
#########################################################################################
####### Tracking and clustering parameters. distCut = 100 [um], timeCut = 500 [ns] 
distCut = 100.
timeCut = 500.
#########################################################################################
####### Tracking uncertainty considered / not. Bool
trkUnc = true
####### Displace the matching time window (fake hits). Bool
fake_rate = false
#########################################################################################
####### Cluster position method. MC = Monte Carlo Info & COM = Center of Mass
clPos = MC
#########################################################################################
####### Verbose flags for different parts of the analysis
verboseDigital = false
verboseTracking = false
verboseClustering = false
verboseAnalysis = false
#########################################################################################
####### Introduce X or Y offset to match any data off-tracking. Relevant for data-sim, bin-wise comparisons. [mm]
#50 - 18.6368/2 = -40.6816     9.3184
trackOffsetX = 0
trackOffsetY = 0
#########################################################################################
####### Beam veto value in ns. Should match the config passed to simulation. (relevant for calorimetry only ATM)
veto = 2000
#########################################################################################
####### FIFO Config. fifoFrequency in ns and fifoSize in num of hits. 
####### WARNING! Implementation is unphysical. Works with script FIFOProcessing
fifoFrequency = 50
fifoSize = 100
fifoMultiplicity = 1
#########################################################################################
####### Realistic MALTA3 simulation. boolHWC turns on or off the calorimetry analysis for the HWC FIFO implementation
####### 0.5    0.105    1.5   4    6.25    128   [7,4],[11,5],[18,6],[32,7],[56,8],[96,9],[160,10],[256,11]
####### sectorSize: size of the sector that multiplexes busses in the HWC; wordSize: wmaximum size word to accomodate the data packed in the 64b lim
####### prioAlgo: RoundRobin, MostFull, MostFilled
slowcontrolDelay = 2
busMergingThreshold = 0.21
SRAMFrequency = 1.5
sramDepth = 12
FIFOFrequency = 6.25
FIFOSize = 128
boolHWC = true
sectorSize = 11
wordSize = 5
prioAlgo = MostFull
#########################################################################################
####### Simulation processing (only relevant for multiPlanes!). MALTA2 - enables module merging processing, MALTA3 - assumes perfect modules.
simProc = MALTA2
#########################################################################################
####### nPlanes - number of planes in 3D coordinate system (total number is = nPlanes_100 * nPlanes_10 * nPlanes_1)
nPlanes_100 = 2
nPlanes_10 = 1
nPlanes_1 = 4
modules = 2
geoFile = geo_X4Y1Z2.csv
#########################################################################################
####### Calorimetry configuration. single or double layer. initial guesses for the en. deposition fit: calop0Guess,...p2
caloConfig = single
calop0Guess = 500
calop1Guess = 0.5
calop2Guess = 6